body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $body;
    font-size: 16px;

    @include media-breakpoint-down(md) {
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
    }
}

.mainBodyContent {
    min-height: calc(100vh - 100px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
    line-height: 1.5 !important;
}

//------ Typography
h6,
.h6 {
    font-size: 16px;
}

h5,
.h5 {
    font-size: 18px;
}

h4,
.h4 {
    font-size: 20px;
}

h3,
.h3 {
    font-size: 24px;
}

h2,
.h2 {
    font-size: 28px;
}

h1,
.h1 {
    font-size: 32px;
}

@include media-breakpoint-up(lg) {

    h6,
    .h6 {
        font-size: 18px;
    }

    h5,
    .h5 {
        font-size: 20px;
    }

    h4,
    .h4 {
        font-size: 24px;
    }

    h3,
    .h3 {
        font-size: 28px;
    }

    h2,
    .h2 {
        font-size: 32px;
    }

    h1,
    .h1 {
        font-size: 40px;
    }
}