/**
 * Global reset
 */
@import 'fonts';
@import 'variables';
@import 'bootstrap/bootstrap';

// template css
@import 'general';
@import 'contents/editor';
@import 'contents/longpv';
@import 'contents/vucoder';